.alert1{
    margin: auto;
    width: 60%;
    min-width: 250px;
    text-align: center;
}
.buttons_center{
    margin: auto;
    width: 30%;
    min-width: 250px;

    text-align: center;
}
.table{
    margin: auto;
    min-width: 250px;
    width: 30%;
    text-align: center;
}
.centerdiv{
    margin: auto;
    width: 50%;
    text-align: center;
}
.centerbutton{
     margin: auto;
     width: 70%;
     text-align: center;
 }

table,tr,th{
    text-align: center;
    margin: auto;
}
.button{

}